html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: cadetblue;
}
.header {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.header2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.header3 {
    margin-bottom: 10px;
}
.app {
    text-align: center;
    background: cadetblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #4a4a4a;
    height: 100%;
    padding: 5vw 5vw 50px;
}

.formPage .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.formPage .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formPage .label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formPage .error {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
}

.formPage .hints {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.formPage input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: #a4a4a4;
    border-bottom-width: 1px;
    background: transparent;
    width: 100%;
    font-size: 20px !important;
    text-align: center;
    color: #4a4a4a;
}

.formPage input.invalid {
    border-bottom-color: crimson;
}

.formPage input:focus,
.formPage input:hover,
.formPage input:active {
    border-bottom-color: #4a4a4a;
    border-bottom-width: 4px;
    outline: none;
    font-weight: bolder;
}

.formPage input:-webkit-autofill,
.formPage input:-webkit-autofill:hover,
.formPage input:-webkit-autofill:focus,
.formPage input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #4a4a4a !important;
}

.formPage .check-box {
    padding: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    min-width: 100px;
    margin: 5px;
    cursor: pointer;
    display: flex;
}

.formPage .check-box img {
    margin-right: 5px;
}

.formPage .check-box:active, .formPage .check-box.active {
    border: 2px solid cadetblue;
    color: cadetblue;
    font-weight: bold;
}

.formPage .carousel {
    width: 100%;
    background: #fff6f1;
    border-radius: 50px;
    box-shadow: 5px 10px #ffffff;
    margin-bottom: 20px;
    overflow-x: hidden;
    flex: 1;
}

.formPage .content {
    display: flex;
    left: 0;
    transition: margin-left 300ms;
    height: 100%;
}

.formPage .page {
    padding: 50px 5vw;
    flex: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
}

.btn {
    border-radius: 50px !important;
    color: cadetblue !important;
    font-weight: bold !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.1) !important;
}

.btn-primary {
    background-color: white !important;
    border-color: white !important;
}

.btn-secondary {
    background-color: cadetblue !important;
    border-color: cadetblue !important;
}

.btn-outline-primary {
    border-color: white !important;
    color: white !important;
}

.btn-outline-primary:hover {
    border-color: white !important;
    background-color: transparent !important;
}

.bottom-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bottom-button:not(:last-child) {
    margin-right: 10px;
}


.bottom-button:last-child {
    flex: 1;
}

.remove-button {
    cursor: pointer;
    margin-left: 5px;
}

.select-button {
    padding: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    min-width: 100px;
    margin: 5px;
    cursor: pointer;
    flex: 1;
}

.select-button.active {
    border: 2px solid cadetblue;
    color: cadetblue;
    font-weight: bold;
}

.select-button.disabled {
    background-color: #a4a4a4;
    cursor: auto;
}

.timepicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numberWrapper {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: cadetblue;
    font-weight: bold;
}

.minus {
    padding: 10px;
    border: 2px solid cadetblue;
    border-right: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.minus.disabled {
    border-color: #a4a4a4;
    color: #4a4a4a;
    cursor: auto;
}

.plus {
    padding: 10px;
    border: 2px solid cadetblue;
    border-left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.plus.disabled {
    border-color: #a4a4a4;
    color: #a4a4a4;
    cursor: auto;
}

.value {
    padding: 10px;
    background-color: white;
    border: 2px solid cadetblue;
    /*border-bottom: 2px solid cadetblue;*/
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.loading {
    height: 30px;
}


.spinner {
    animation: spin 1s ease-out infinite;
}

/*@-moz-keyframes spin {*/
/*    0% { -moz-transform: rotate(180deg); }*/
/*}*/
/*@-webkit-keyframes spin {*/
/*    100% { -webkit-transform: rotate(360deg); }*/
/*}*/
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-20deg);
        transform:rotate(-20deg);
    }
    75% {
        -webkit-transform: rotate(20deg);
        transform:rotate(20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg);
    }
}
